/* ==============
- PHOTO GALLERY -
============== */

.gallery {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 1% 5% 10%;
  @include tablet {
    padding: 4% 3% 3.5%;
  }
  @include desktop {
    padding: 3% 10.7% 3.5%;
  }

  &__heading {
    @extend .section-heading;
    @include tablet {
      margin-bottom: 4%;
    }
    @include desktop {
      margin-bottom: 3%;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      // margin-left: 230px;
      // margin-right: 230px;
    }
  }

  &__image {
    margin: 1rem auto 0;
    width: 100%;
    filter: grayscale(100%);
    :hover {
      filter: none;
    }

    @include tablet {
      margin: 1.5rem 0 0;
      width: 28.9vw;
    }
    @include desktop {
      width: 25vw;
    }
  }
}
