.h1-hero-tab {
  //DONE
  font-size: 60px;
  line-height: 68px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h1-tab {
  //DONE
  font-size: 36px;
  line-height: 44px;
}

// MOBILE
.h1-mob {
  //DONE
  font-size: 24px;
  line-height: 32px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h2-tab {
  font-size: 24px;
  line-height: 32px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h3-tab {
  font-size: 16px;
  line-height: 24px;
}

.h2-mobile {
  font-size: 14px;
  line-height: 22px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h4-tab-para {
  font-size: 14px;
  line-height: 22px;
}

.h4-mobile-para {
  font-size: 13px;
  line-height: 18px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h4-tab-lists-and-contact {
  font-size: 14px;
  line-height: 20px;
}

.h4-mobile-lists-and-contact {
  font-size: 13px;
  line-height: 18px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

.h5-tab {
  font-size: 12px;
  line-height: 20px;
}

.h5-mobile {
  font-size: 12px;
  line-height: 20px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
