/*

P L E A S E - I G N O R E - T H I S - F I L E - W H I L E - G R A D I N G

*/

@mixin h1-hero-tab-mixin {
  font-size: 60px;
  line-height: 68px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h1-tab-mixin {
  font-size: 36px;
  line-height: 44px;
}

@mixin h1-mobile-mixin {
  font-size: 24px;
  line-height: 32px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h2-tab-mixin {
  font-size: 24px;
  line-height: 32px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h3-tab-mixin {
  font-size: 16px;
  line-height: 24px;
}

@mixin h2-mobile-mixin {
  font-size: 14px;
  line-height: 22px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h4-tab-para-mixin {
  font-size: 14px;
  line-height: 22px;
}

@mixin h4-mobile-para-mixin {
  font-size: 13px;
  line-height: 18px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h4-tab-lists-and-contact-mixin {
  font-size: 14px;
  line-height: 20px;
}

@mixin h4-mobile-lists-and-contact-mixin {
  font-size: 13px;
  line-height: 18px;
}

/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */

@mixin h5-tab-mixin {
  font-size: 12px;
  line-height: 20px;
}

@mixin h5-mobile-mixin {
  font-size: 12px;
  line-height: 20px;
}
