/* ===================
MAIN BIOGRAPHY SECTION
=================== */

.main {
  @extend .section-padding;
  @include desktop {
    padding-left: 4%;
    padding-right: 4%;
  }

  &__heading {
    @extend .section-heading;
    padding-bottom: 5%;

    @include desktop {
      padding-left: 8%;
    }
  }

  &__img {
    margin-bottom: 3%;
    width: 100%;

    @include tablet {
      margin-bottom: 5.5%;
    }

    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      height: 503.5px;
    }
  }

  &__quote {
    @include desk__h3;
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      font-family: "avenir-bold";
      margin-bottom: 4.5%;
      @include desk__h2;
    }

    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 2.5%;
    }
  }

  &__quote-author {
    @include mobile__h4-para;
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      @include desk__h3;
      font-family: "avenir-demi";
      margin-bottom: 6.5%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 3.5%;
    }
  }

  &__artist-names {
    @include desk__h3;
    font-family: "avenir-demi";
    margin-bottom: 5%;

    @include tablet {
      @include desk__h2;
      font-family: "avenir-bold";
      margin-bottom: 3%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 1.5%;
    }
  }

  &__paragraph-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__paragraph {
    font-weight: 100;
    @include mobile__h4-para;

    @include tablet {
      @include desk__h4-para;
    }

    @include desktop {
      padding-right: 20px;
    }
  }

  &__paragraph--first {
    @include tablet {
      padding-right: 12px;
    }
  }

  &__paragraph--second {
    @include tablet {
      padding-left: 12px;
    }
  }
}
