@font-face {
  font-family: "avenir-bold";
  src: url("../assets/fonts/avenir-bold.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/fonts/avenir-demi.otf");
}

@font-face {
  font-family: "avenir-regular";
  src: url("../assets/fonts/avenir-regular.otf");
}
