/* ============
- H E A D E R -
============ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  color: #fafafa;
  height: 84px;

  @include tablet {
    flex-direction: row;
  }

  &__logo {
    margin-bottom: auto;
    margin-top: auto;

    @include tablet {
      margin-right: 5%;
      margin-left: 3.7%;
    }
    @include desktop {
      margin-left: 11%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include tablet {
      width: 36%;
      height: 100%;
    }
    @include desktop {
      width: 18%;
    }
  }

  &__list-item {
    font-family: "avenir-demi";
    text-align: center;
    width: 50%;
    padding-bottom: 3%;
    &:hover {
      color: lightcoral;
    }
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100px;
      padding-bottom: 0%;
    }
  }

  &__list-item--selected {
    border-bottom: 4px solid #fafafa;
  }

  &__list-item--not-selected {
    color: #afafaf;
  }
}
