/* ==============
-  F O O T E R  -
============== */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding: 7% 4%;
  @include tablet {
    padding: 4% 3.7% 4.5%;
  }
  @include desktop {
    padding: 3% 10% 1%;
  }

  /* ===============================
    HEADING + SOCIAL MEDIA + SITE LOGO
    =============================== */

  &__top-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1%;
    @include tablet {
      flex-direction: row;
      margin-bottom: 4%;
    }
  }

  &__heading {
    @include desk__h1;
    font-family: "avenir-bold";
    margin-right: 5%;
    margin-bottom: 5px;
    margin-top: 20px;

    @include tablet {
      margin-bottom: 4%;
      margin-right: 6%;
    }

    @include desktop {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 4%;
    @include tablet {
      margin-top: auto;
      margin-bottom: auto;
    }
    @include desktop {
      margin-left: 5px;
    }
  }

  &__icon {
    margin-right: 2.5rem;
  }

  &__logo {
    display: none;
    position: absolute;
    right: 0px;
    top: 25%;

    @include tablet {
      display: flex;
      margin-top: 2%;
      margin-bottom: 0;
    }

    @include desktop {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  /* ================
  3 DIVS FOR CONTACTS
  ================ */

  &__middle-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    @include tablet {
      flex-direction: row;
      padding-bottom: 1.5%;
      justify-content: space-between;
    }
    @include desktop {
      justify-content: left;
    }
  }

  &__contact-container {
    margin-right: 0.9rem;
    margin-bottom: 5%;

    @include desktop {
      margin-right: 2.3rem;
    }
  }

  &__contact-regions {
    @include mobile__h5;
    @include tablet {
      @include desk__h4-list-contact;
      font-weight: 100;
    }
  }

  &__contact-name-and-organization {
    @include mobile__h2;
    font-family: "avenir-demi";
    @include tablet {
      @include desk__h3;
    }
  }

  &__email {
    @include mobile__h5;
    @include tablet {
      font-weight: 100;
      @include mobile__h4-list-contact;
    }
    @include desktop {
      @include desk__h4-list-contact;
    }
  }

  /* ============
    COPYRIGHT INFO.
    ============ */

  &__bottom-section {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__copyright {
    @include mobile__h4-list-contact;
    @include tablet {
      @include desk__h4-list-contact;
      font-weight: 100;
      margin-top: -5%;
    }
  }
}
