@font-face {
  font-family: "avenir-bold";
  src: url("../assets/fonts/avenir-bold.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/fonts/avenir-demi.otf");
}

@font-face {
  font-family: "avenir-regular";
  src: url("../assets/fonts/avenir-regular.otf");
}

html,
head,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -4;
}

*,
*::before,
*::after {
  font-family: "avenir-regular";
  margin: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* ============
UTILITY CLASSES
============ */
.section-heading, .main__heading, .photo-gallery__heading, .footer__top-section .footer__heading {
  font-size: 36px;
  line-height: 44px;
  font-family: "avenir-bold";
}

@media screen and (min-width: 768px) {
  .section-padding {
    padding: 2% 5%;
  }
}

@media screen and (min-width: 1440px) {
  .section-padding {
    padding: 3% 10%;
  }
}

/* ============
- H E A D E R -
============ */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #fafafa;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header img {
  margin-bottom: auto;
  margin-top: 16px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .header img {
    padding: 1rem;
    margin-right: 56px;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1440px) {
  .header img {
    padding-left: 9%;
  }
}

.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header ul {
    width: 25%;
    height: 100%;
  }
}

.header li {
  font-family: "avenir-demi";
  text-align: center;
  width: 50%;
  padding-bottom: 2%;
}

@media screen and (min-width: 768px) {
  .header li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: auto;
    margin-right: 2vw;
    margin-left: 2vw;
  }
}

.header li:first-child {
  border-bottom: 5px solid #fafafa;
}

.header li:nth-child(even) {
  color: #afafaf;
}

/* =============
- HERO SECTION -
============= */
.hero {
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5))), url(../assets/Images/adrien-converse-xzH7K6nVVgI-unsplash.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5)), url(../assets/Images/adrien-converse-xzH7K6nVVgI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 670px;
  }
}

.hero h1 {
  font-family: "avenir-bold";
  font-size: 60px;
  line-height: 68px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .hero h1 {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1440px) {
  .hero h1 {
    margin-left: 13%;
  }
}

/* ===================
MAIN BIOGRAPHY SECTION
=================== */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__heading {
  padding-bottom: 3%;
}

@media screen and (min-width: 1440px) {
  .main__heading {
    padding-bottom: 5%;
    padding-left: 8%;
  }
}

.main__container {
  padding: 5% 3%;
}

.main__container .main__img {
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

@media screen and (min-width: 1440px) {
  .main__container .main__img {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__container .main__quote {
  margin-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .main__container .main__quote {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__container h4 {
  margin-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .main__container h4 {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__container h3 {
  margin-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .main__container h3 {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__container .main__paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main__container .main__paragraph-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__container .main__paragraph-container #first-paragraph {
    padding-right: 12px;
  }
  .main__container .main__paragraph-container #second-paragraph {
    padding-left: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .main__container .main__paragraph-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* ==============
- PHOTO GALLERY -
============== */
.photo-gallery {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2% 3%;
}

@media screen and (min-width: 1440px) {
  .photo-gallery {
    padding: 2% 10%;
  }
}

.photo-gallery__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .photo-gallery__image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.photo-gallery__image-container img {
  margin: 1.5rem 0 0;
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .photo-gallery__image-container img {
    width: 28.5vw;
  }
}

@media screen and (min-width: 1440px) {
  .photo-gallery__image-container img {
    width: 25vw;
  }
}

/* ==============
-  F O O T E R  -
============== */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding: 2% 3%;
  /* ===============================
  HEADING + SOCIAL MEDIA + SITE LOGO
  =============================== */
  /* ================
  3 DIVS FOR CONTACTS
  ================ */
  /* ============
  COPYRIGHT INFO.
  ============ */
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 2% 10%;
  }
}

.footer__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 1%;
}

@media screen and (min-width: 768px) {
  .footer__top-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__top-section .footer__heading {
  margin-right: 5%;
  margin-bottom: auto;
}

.footer__top-section .footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media screen and (min-width: 768px) {
  .footer__top-section .footer__icon-container {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.footer__top-section .footer__icon-container .footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__top-section .footer__icon-container .footer__icons img {
  margin-right: 2rem;
}

.footer .footer__logo {
  display: none;
  position: absolute;
  right: 0px;
  top: 25%;
}

@media screen and (min-width: 768px) {
  .footer .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1%;
}

@media screen and (min-width: 768px) {
  .footer__middle-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__middle-section div {
  margin-right: 0.9rem;
}

@media screen and (min-width: 1440px) {
  .footer__middle-section div {
    margin-right: 1.8rem;
  }
}

.footer__middle-section div .footer__contact-name-and-organization {
  font-family: "avenir-demi";
  margin-bottom: 5%;
}

.footer__middle-section div .footer__contact-regions {
  margin-bottom: 5%;
}

.footer__bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__bottom-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */