@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/text-styles";

html,
head,
body {
  box-sizing: border-box;
  margin: -4;
  color: #323232;
}

*,
*::before,
*::after {
  font-family: "avenir-regular";
  margin: inherit;
  box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ============
UTILITY CLASSES
============ */

.section-heading {
  @extend .h1-mob;
  font-family: "avenir-bold";
  @include tablet {
    @extend .h1-tab;
  }
}

// .h4-paragraph {
//   font-size: 13px;
//   line-height: 18px;
//   @include tablet {
//     font-size: 14px;
//     line-height: 22px;
//   }
// }

/* ============
- H E A D E R -
============ */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  color: #fafafa;
  height: 80px;

  @include tablet {
    flex-direction: row;
  }

  &__logo {
    margin-bottom: auto;
    margin-top: auto;
    // display: inline-block;

    @include tablet {
      margin-right: 5%;
      margin-left: 5%;
    }
    @include desktop {
      margin-left: 13%;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include tablet {
      width: 25%;
      height: 100%;
    }
  }

  &__list-item {
    font-family: "avenir-demi";
    text-align: center;
    width: 50%;
    padding-bottom: 2%;
    :hover {
      color: lightcoral;
    }
    @include tablet {
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
    }
  }

  &__list-item--bio {
    border-bottom: 5px solid #fafafa;
  }

  &__list-item--shows {
    color: #afafaf;
  }
}

/* =============
- HERO SECTION -
============= */

.hero {
  color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5)),
    url(../assets/Images/adrien-converse-xzH7K6nVVgI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    height: 400px;
  }
  @include desktop {
    height: 670px;
  }

  &__banner-text {
    font-family: "avenir-bold";
    @extend .h1-mob;
    margin-left: 1.5rem;
    @include tablet {
      margin-left: 5%;
      @extend .h1-hero-tab;
    }
    @include desktop {
      margin-left: 13%;
    }
  }
}

/* ===================
MAIN BIOGRAPHY SECTION
=================== */

.main {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 3%;

  &__heading {
    @extend .section-heading;
    padding-bottom: 3%;

    @include desktop {
      padding-bottom: 5%;
      padding-left: 8%;
    }
  }

  // &__container {
  //   padding: 5% 3% 3%;
  // }

  &__img {
    margin-bottom: 3%;
    width: 100%;

    @include tablet {
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__quote {
    @extend .h2-mobile;
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      font-family: "avenir-bold";
      margin-bottom: 4.5%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__quote-author {
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      margin-bottom: 6.5%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__artist-names {
    font-family: "avenir-demi";
    margin-bottom: 1.5%;

    @include tablet {
      font-family: "avenir-bold";
      margin-bottom: 3%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__paragraph-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__first-paragraph {
    @extend .h4-mobile-para;
    @include tablet {
      padding-right: 12px;
      @extend .h4-tab-para;
    }
    @include desktop {
      padding-right: 20px;
      @extend .h4-tab-para;
    }
  }

  &__second-paragraph {
    @extend .h4-mobile-para;
    @include tablet {
      padding-left: 12px;
    }
    @include desktop {
      padding-left: 20px;
    }
  }
}

/* ==============
- PHOTO GALLERY -
============== */

.gallery {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 6% 3% 10%;
  @include tablet {
    padding: 4% 3% 3.5%;
  }

  &__heading {
    @extend .section-heading;
    margin-bottom: 2%;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include desktop {
      // margin-left: 230px;
      // margin-right: 230px;
    }
  }

  &__image {
    margin: 1.5rem auto 0;
    width: 100%;
    filter: grayscale(100%);
    :hover {
      filter: none;
    }

    @include tablet {
      margin: 1.5rem 0 0;
      width: 28.5vw;
    }
    @include desktop {
      width: 25vw;
    }
  }
}

/* ==============
-  F O O T E R  -
============== */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding: 2% 3%; // * * THIS PADDING CODE IS BEING USED TWICE * *
  @include desktop {
    padding: 3% 10%;
  }

  /* ===============================
  HEADING + SOCIAL MEDIA + SITE LOGO
  =============================== */

  &__top-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1%;
    @include tablet {
      flex-direction: row;
      margin-bottom: 4%;
    }
    .footer__heading {
      @extend .section-heading;
      margin-right: 5%;
      margin-bottom: auto;
    }

    .footer__icon-container {
      display: flex;
      align-items: center;
      margin-top: 2%;
      margin-bottom: 2%;
      @include tablet {
        margin-top: auto;
        margin-bottom: auto;
      }
      .footer__icons {
        display: flex;
        flex-direction: row;
        img {
          margin-right: 2rem;
        }
      }
    }
  }

  .footer__logo {
    display: none;
    position: absolute;
    right: 0px;
    top: 25%;
    @include tablet {
      display: flex;
    }
  }

  /* ================
  3 DIVS FOR CONTACTS
  ================ */

  &__middle-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    @include tablet {
      flex-direction: row;
      padding-bottom: 1.5%;
    }

    div {
      margin-right: 0.9rem;
      @include desktop {
        margin-right: 1.8rem;
      }
      .footer__contact-name-and-organization {
        font-family: "avenir-demi";
        margin-bottom: 6%;
      }
      .footer__contact-regions {
        margin-bottom: 5%;
      }
    }
  }

  /* ============
  COPYRIGHT INFO.
  ============ */

  &__bottom-section {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
}
