@font-face {
  font-family: "avenir-bold";
  src: url("../assets/fonts/avenir-bold.otf");
}

@font-face {
  font-family: "avenir-demi";
  src: url("../assets/fonts/avenir-demi.otf");
}

@font-face {
  font-family: "avenir-regular";
  src: url("../assets/fonts/avenir-regular.otf");
}

/* = = = = = = = = = = = = = = =
= = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = 
= = = = = = = = = = = = = = = */
/* ===========
DEFAULT RESETS
=========== */
html,
head,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -4;
  color: #323232;
}

*,
*::before,
*::after {
  font-family: "avenir-regular";
  margin: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

/* ============
UTILITY CLASSES
============ */
.section-heading, .main__heading, .gallery__heading, .conversation__title, .shows-section__title-heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
}

@media screen and (min-width: 768px) {
  .section-heading, .main__heading, .gallery__heading, .conversation__title, .shows-section__title-heading {
    margin-left: 0;
    font-size: 36px;
    line-height: 44px;
  }
}

.section-padding, .main, .conversation, .shows-section {
  padding: 5% 5% 3%;
}

@media screen and (min-width: 768px) {
  .section-padding, .main, .conversation, .shows-section {
    padding: 5% 3.7% 3%;
  }
}

@media screen and (min-width: 1440px) {
  .section-padding, .main, .conversation, .shows-section {
    padding-left: 11.5%;
    padding-right: 9.5%;
  }
}

.selected-text-input, .conversation__commenter-name, .conversation__comment-area {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2%;
  outline-color: black;
  border: 1.5px solid #e1e1e1;
}

.primary-cta-button, .conversation__button, .shows-section__buy-button {
  border-radius: 5px;
  border: 0px solid;
  background-color: #323232;
  color: #e1e1e1;
  font-family: "avenir-demi";
  width: 100%;
  padding: 12px;
}

.primary-cta-button:hover, .conversation__button:hover, .shows-section__buy-button:hover {
  background-color: black;
}

/* ============
- H E A D E R -
============ */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  color: #fafafa;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__logo {
  margin-bottom: auto;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 5%;
    margin-left: 3.7%;
  }
}

@media screen and (min-width: 1440px) {
  .header__logo {
    margin-left: 11%;
  }
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__list {
    width: 25%;
    height: 100%;
  }
}

.header__list-item {
  font-family: "avenir-demi";
  text-align: center;
  width: 50%;
  padding-bottom: 3%;
}

.header__list-item:hover {
  color: lightcoral;
}

@media screen and (min-width: 768px) {
  .header__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: auto;
    padding-bottom: 0%;
  }
}

.header__list-item--selected {
  border-bottom: 5px solid #fafafa;
}

.header__list-item--not-selected {
  color: #afafaf;
}

/* =============
- HERO SECTION -
============= */
.hero {
  color: #ffffff;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 5%;
}

.hero::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-left: 3.7%;
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 11.5%;
    height: 670px;
  }
}

.hero--bio {
  background: url(../assets/Images/adrien-converse-xzH7K6nVVgI-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.hero--shows {
  background: url(../assets/images/osman-rana-h8ZvH1Nf7Bk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 472px;
}

@media screen and (min-width: 768px) {
  .hero--shows {
    height: 670px;
  }
}

@media screen and (min-width: 1440px) {
  .hero--shows {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.hero__text-container {
  z-index: 99;
  margin-top: auto;
  margin-bottom: auto;
}

.hero__banner-h2 {
  font-family: "avenir-bold";
  font-size: 14px;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .hero__banner-h2 {
    font-size: 24px;
    line-height: 32px;
  }
}

.hero__banner-text {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
}

@media screen and (min-width: 768px) {
  .hero__banner-text {
    font-size: 60px;
    line-height: 68px;
    margin-right: 64px;
  }
}

.hero__banner-text--shows {
  font-size: 34.82px;
  line-height: 44px;
}

@media screen and (min-width: 768px) {
  .hero__banner-text--shows {
    font-size: 60px;
    line-height: 68px;
  }
}

.hero__iframe {
  z-index: 99;
  width: 95%;
  height: 100px;
  margin-top: -7%;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .hero__iframe {
    width: 436px;
    height: 146px;
    margin-top: -7%;
  }
}

@media screen and (min-width: 1440px) {
  .hero__iframe {
    margin-top: auto;
    margin-bottom: 16%;
  }
}

/* ==============
-  F O O T E R  -
============== */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding: 7% 3%;
  /* ===============================
    HEADING + SOCIAL MEDIA + SITE LOGO
    =============================== */
  /* ================
  3 DIVS FOR CONTACTS
  ================ */
  /* ============
    COPYRIGHT INFO.
    ============ */
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 6% 3.7% 4.5%;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 3% 10% 1%;
  }
}

.footer__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 1%;
}

@media screen and (min-width: 768px) {
  .footer__top-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 4%;
  }
}

.footer__heading {
  font-family: "avenir-bold";
  font-size: 36px;
  line-height: 44px;
  margin-right: 5%;
  margin-bottom: auto;
}

.footer__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 4%;
  margin-bottom: 4%;
}

@media screen and (min-width: 768px) {
  .footer__icon-container {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.footer__icon {
  margin-right: 2rem;
}

.footer__logo {
  display: none;
  position: absolute;
  right: 0px;
  top: 25%;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1%;
}

@media screen and (min-width: 768px) {
  .footer__middle-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 1.5%;
  }
}

.footer__contact-container {
  margin-right: 0.9rem;
  margin-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .footer__contact-container {
    margin-right: 1.8rem;
  }
}

.footer__contact-regions {
  font-size: 13px;
  line-height: 18px;
}

.footer__contact-name-and-organization {
  font-size: 16px;
  line-height: 24px;
  font-family: "avenir-demi";
}

@media screen and (min-width: 768px) {
  .footer__contact-name-and-organization {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__email {
  font-size: 13px;
  line-height: 18px;
}

.footer__bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__bottom-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__copyright {
  font-size: 13px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: -5%;
  }
}

/* ===================
MAIN BIOGRAPHY SECTION
=================== */
@media screen and (min-width: 1440px) {
  .main {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.main__heading {
  padding-bottom: 5%;
}

@media screen and (min-width: 1440px) {
  .main__heading {
    padding-left: 8%;
  }
}

.main__img {
  margin-bottom: 3%;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .main__img {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__quote {
  font-size: 16px;
  line-height: 24px;
  font-family: "avenir-demi";
  margin-bottom: 9%;
}

@media screen and (min-width: 768px) {
  .main__quote {
    font-family: "avenir-bold";
    margin-bottom: 4.5%;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .main__quote {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2.5%;
  }
}

.main__quote-author {
  font-size: 13px;
  line-height: 18px;
  font-family: "avenir-demi";
  margin-bottom: 9%;
}

@media screen and (min-width: 768px) {
  .main__quote-author {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi";
    margin-bottom: 6.5%;
  }
}

@media screen and (min-width: 1440px) {
  .main__quote-author {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 3.5%;
  }
}

.main__artist-names {
  font-size: 16px;
  line-height: 24px;
  font-family: "avenir-demi";
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .main__artist-names {
    font-size: 24px;
    line-height: 32px;
    font-family: "avenir-bold";
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 1440px) {
  .main__artist-names {
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1.5%;
  }
}

.main__paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main__paragraph-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .main__paragraph-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.main__first-paragraph {
  font-size: 13px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .main__first-paragraph {
    padding-right: 12px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .main__first-paragraph {
    padding-right: 20px;
  }
}

.main__second-paragraph {
  font-size: 13px;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .main__second-paragraph {
    padding-left: 12px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .main__second-paragraph {
    padding-left: 20px;
  }
}

/* ==============
- PHOTO GALLERY -
============== */
.gallery {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1% 5% 10%;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 4% 3.7% 3.5%;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    padding: 3% 10.7% 3.5%;
  }
}

@media screen and (min-width: 768px) {
  .gallery__heading {
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 1440px) {
  .gallery__heading {
    margin-bottom: 3%;
  }
}

.gallery__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .gallery__image-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.gallery__image {
  margin: 1rem auto 0;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gallery__image:hover {
  -webkit-filter: none;
          filter: none;
}

@media screen and (min-width: 768px) {
  .gallery__image {
    margin: 1.5rem 0 0;
    width: 28.9vw;
  }
}

@media screen and (min-width: 1440px) {
  .gallery__image {
    width: 25vw;
  }
}

.conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conversation__new-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #afafaf;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .conversation__new-comment-container {
    margin: 1% 18%;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__new-comment-container {
    margin: 1% 25%;
  }
}

.conversation__new-comment-image {
  width: 48px;
  height: 45px;
  border-radius: 50%;
  margin: 17px 20px auto 0px;
}

.conversation__comment-form {
  margin: 0;
}

.conversation__commenter-name {
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .conversation__commenter-name {
    min-width: 395px;
    min-height: 40px;
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__commenter-name {
    min-width: 520px;
  }
}

@media screen and (min-width: 768px) {
  .conversation__comment-area {
    min-width: 395px;
    height: 100px;
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__comment-area {
    min-width: 520px;
  }
}

.conversation__comment {
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .conversation__comment {
    font-size: 16px;
    line-height: 24px;
  }
}

.conversation__form-labels {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-family: "avenir-demi";
}

.conversation__button {
  margin: 12px auto 20px;
}

@media screen and (min-width: 768px) {
  .conversation__button {
    max-width: 170px;
    float: right;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__button {
    font-size: 16px;
    max-width: 200px;
  }
}

.conversation__posted-comments {
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .conversation__posted-comments {
    padding: 1% 18%;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__posted-comments {
    padding: 1% 25%;
  }
}

.conversation__comment-container-div {
  border-bottom: 1px solid #afafaf;
  padding: 25px 5px;
}

.conversation__name-and-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.conversation__name {
  font-family: "avenir-demi";
  position: relative;
}

.conversation__name::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -2.5rem;
  border-radius: 50%;
  background-color: #afafaf;
}

@media screen and (min-width: 1440px) {
  .conversation__name {
    font-size: 16px;
    line-height: 24px;
  }
}

.conversation__date {
  color: #afafaf;
}

@media screen and (min-width: 768px) {
  .conversation__date {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .conversation__date {
    font-size: 16px;
    line-height: 24px;
  }
}

.shows-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .shows-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .shows-section__title-heading {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .shows-section__title-heading {
    padding-right: 175px;
  }
}

@media screen and (min-width: 768px) {
  .shows-section__shows-table {
    min-width: 77%;
  }
}

.shows-section__column-labels {
  display: none;
}

@media screen and (min-width: 768px) {
  .shows-section__column-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.shows-section__each-show-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2%;
  margin-bottom: 4%;
  border-bottom: 1px solid #afafaf;
}

@media screen and (min-width: 768px) {
  .shows-section__each-show-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.shows-section__desk-label {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-family: "avenir-demi";
  margin-right: 20vw;
}

.shows-section__label {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-family: "avenir-demi";
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .shows-section__label {
    display: none;
  }
}

.shows-section__date {
  font-family: "avenir-demi";
}

@media screen and (min-width: 768px) {
  .shows-section__date {
    margin-right: 9vw;
  }
}

.shows-section__venue-and-location {
  margin-left: -1px;
}

@media screen and (min-width: 768px) {
  .shows-section__venue-and-location {
    margin-right: 10vw;
  }
}

@media screen and (min-width: 768px) {
  .shows-section__buy-button {
    max-width: 170px;
  }
}
/*# sourceMappingURL=main.css.map */