/* ===================
MAIN BIOGRAPHY SECTION
=================== */

.main {
  @extend .section-padding;
  // display: flex;
  // flex-direction: column;
  // padding: 5% 5% 3%;
  // @include tablet {
  //   padding: 5% 3.7% 3%;
  // }

  &__heading {
    @extend .section-heading;
    padding-bottom: 5%;

    @include desktop {
      padding-left: 8%;
    }
  }

  &__img {
    margin-bottom: 3%;
    width: 100%;

    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__quote {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      font-family: "avenir-bold";
      margin-bottom: 4.5%;
      font-size: 24px;
      line-height: 32px;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 2.5%;
    }
  }

  &__quote-author {
    font-size: 13px;
    line-height: 18px;
    font-family: "avenir-demi";
    margin-bottom: 9%;

    @include tablet {
      font-size: 16px;
      line-height: 24px;
      font-family: "avenir-demi";
      margin-bottom: 6.5%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 3.5%;
    }
  }

  &__artist-names {
    font-size: 16px;
    line-height: 24px;
    font-family: "avenir-demi";
    margin-bottom: 5%;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
      font-family: "avenir-bold";
      margin-bottom: 3%;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
      margin-bottom: 1.5%;
    }
  }

  &__paragraph-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  &__first-paragraph {
    font-size: 13px;
    line-height: 18px;
    @include tablet {
      padding-right: 12px;
      font-size: 14px;
      line-height: 22px;
    }
    @include desktop {
      padding-right: 20px;
    }
  }

  &__second-paragraph {
    font-size: 13px;
    line-height: 18px;
    @include tablet {
      padding-left: 12px;
      font-size: 14px;
      line-height: 22px;
    }
    @include desktop {
      padding-left: 20px;
    }
  }
}
