.shows-section {
  @extend .section-padding;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }

  &__shows-table {
    @include tablet {
      min-width: 90%;
    }
  }

  &__column-labels {
    display: none;
    @include tablet {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__each-show-container {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid $silver;
    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__label {
    @include mobile__h5;
    margin-bottom: auto;
    @include tablet {
      display: none;
    }
  }

  &__date {
    font-family: "avenir-demi";
  }

  &__buy-button {
    @extend .primary-cta-button;
  }
}
