/* ============
UTILITY CLASSES
============ */

.section-heading {
  font-size: 24px;
  line-height: 32px;
  font-family: "avenir-bold";
  @include tablet {
    margin-left: 0;
    font-size: 36px;
    line-height: 44px;
  }
}

.section-padding {
  padding: 5% 5% 3%;
  @include tablet {
    padding: 5% 3.7% 3%;
  }
  @include desktop {
    padding-left: 11.5%;
    padding-right: 9.5%;
  }
}

.selected-text-input {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2%;
  outline-color: black;
  border: 1.5px solid $mercury;
}

.primary-cta-button {
  border-radius: 5px;
  border: 0px solid;
  background-color: $light-black;
  color: $mercury;
  font-family: "avenir-demi";
  width: 100%;
  padding: 12px;
  &:hover {
    background-color: black;
  }
}
